body, .stApp {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

section[data-testid="stSidebar"] {
    background-color: #1a1a1a;
    padding: 20px;
    border-right: 1px solid #444;
}
section[data-testid="stSidebar"] * {
    color: #ffffff !important;
}

[data-testid="stForm"] {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 12px;
}

label {
    color: #ffffff !important;
    font-weight: 600;
}

input, select, textarea {
    background-color: #f1f3f6 !important; 
    color: #000000 !important;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    color: #000000 !important;
}
